/* .App-container {
    position: relative; /* Add relative positioning to establish a context for absolute positioning 
    height: 100vh; Set the height to 100vh to take up the full height of the viewport */

  
  .vector-image {
    width: 500px;
  }
  
  .text-area {
    position: absolute;
    left: 766px;
    top: 189px;
  }
  
  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #2E465E;
  }
  